.content{
    grid-area: c;
    background: #eee;
}
.content img{
    max-width: 100%;
}
.avatar{
    padding: 20px;
    display: flex;
}
.avatar img{
    width: 120px;
    margin-right: 200px;
}
.profile_status{
    margin-bottom: 15px;
}
.info{
    padding-left: 20px;
}
.contacts .item{
    padding: 2px 2px 2px 20px;
}
