.content{
    grid-area: c;
    background: #eee;
}
.content img{
    max-width: 100%;
}
.avatar{
    padding: 20px;
    display: flex;
}
.avatar img{
    width: 120px;
    margin-right: 200px;
}
.item{

}
